#body {
    font-family: "Comic Sans MS", "Comic Sans";
    align-items: center;
}



#mimi-plant {
    border-radius: 20px;
    border: 8px solid #8cd5ff ;
}

#mimi-bella {
    border-radius: 8px;
    border: 8px solid #8cd5ff ;
}

#awesome {
    width: 29vw;
}

#hi {
    width: 30vw;
}

nav a:hover {
  color: #c9a4db
}

#navbar {
    font-family: "Comic Sans Ms", "Comic Sans", cursive;
    margin-bottom: 15px;
}

nav {
  
    background-color: #e2c5f0;
    padding: 8px; 
    top: 1;
    border-radius: 8px;
    width: 10vw;
  }

nav a {
    color: purple;
    text-shadow: 4px 4px 4px #b6e5fa;
    margin: 10px 14.89px;
    text-decoration: none;
    font-size: 25px;
}

.sticky {
    position: fixed;
    top: 0;
  }

#link  {
    background-color: #e2c5f0;
    border-radius: 8px;
    padding: 8px; 
    margin-top: -10px;
}

/* comic-neue-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/comic-neue-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
